Also same setup as Pt. 1 & 2

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import wget
import sklearn.model_selection


data = wget.download("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv")
%matplotlib inline

In [2]:
df = pd.read_csv(data)
selected = ['latitude', 'longitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
df_selected = df[selected]
df_selected.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

Q6

In [15]:
def linear_regression_reg(x, y, r):
    ones = np.ones(x.shape[0])
    X = np.column_stack([ones, x])

    XTX = X.T.dot(X)
    reg = r * np.eye(XTX.shape[0])
    XTX = XTX + reg
    
    xtx_inv = np.linalg.inv(XTX)
    w = xtx_inv.dot(X.T).dot(y)

    return w[0], w[1:]

def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

def fill_zeros(df):
    return df.fillna(0)

In [18]:
np.random.seed(9)
idx = np.arange(len(df_selected))
np.random.shuffle(idx)

df_shuffled = df_selected.set_index(idx)

df_train, df_testval = sklearn.model_selection.train_test_split(df_shuffled, train_size=0.6, test_size=0.4)
df_val, df_test = sklearn.model_selection.train_test_split(df_testval, train_size=0.5, test_size=0.5)

df_train = pd.concat([df_train, df_val])

y_train = np.log1p(df_train.median_house_value.values)
y_test = np.log1p(df_test.median_house_value.values)

del df_train['median_house_value']
del df_test['median_house_value']

x_train = df_train.fillna(0)
x_test = df_test.fillna(0)

w_0, w = linear_regression_reg(x_train, y_train, 0.001)
y_pred = w_0 + x_test.dot(w)

round(rmse(y_test, y_pred), 2)

0.35